<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>

<ng-template #guest>
  <app-login></app-login>
</ng-template>

<ng-template #authenticated>
  <div class="wrapper">
    <div class="main">
      <div class="section" style="background-color: whitesmoke">
        <div class="container">
          <div class="row">
            <h2 class="title" style="color: black">Transfer SODE
              <font color="red">X?</font>
            </h2>
            <br/>
          </div>

          <form class="needs-validation" novalidate>
            <div class="form-row align-items-center">
              <div class="col-sm-4 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Source Card</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Source Card: </div>
                  </div>
                  <input (focusout)="checkSource()" type="text" class="form-control" id="sourceCardNo" placeholder="Source Card Number" required>
                </div>
              </div>
              <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Balance</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Balance: </div>
                  </div>
                  <input type="text" class="form-control" id="sourceBalance" readonly style="pointer-events: none" placeholder="Source Balance">
                </div>
              </div>
            </div>
            <br>
            <div class="form-row align-items-center">
              <div class="col-sm-4 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Destination Card</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Destination Card: </div>
                  </div>
                  <input (focusout)="checkDest()" type="text" class="form-control" id="destCardNo" placeholder="Destination Card Number" required>
                </div>
              </div>
              <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Balance</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Balance: </div>
                  </div>
                  <input type="text" class="form-control" id="destBalance" readonly style="pointer-events: none" placeholder="Destination Balance">
                </div>
              </div>
            </div>
            <br>
            <div class="form-row align-items-center">
              <div class="col-sm-3 my-1">
                <label class="sr-only" for="inlineFormInputGroupUsername">Amount</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">Amount: </div>
                  </div>
                  <input type="number" class="form-control" id="amountId" placeholder="Amount" required>
                </div>
              </div>
              <div class="col-auto my-1">
                <button type="button" class="btn btn-danger btn-round" id="lockId" (click)="toggle()">Lock</button>
              </div>
              <div class="col-auto my-1">
                <button type="button" class="btn btn-danger btn-round" (click)="transfer()" id="transferId" disabled style="pointer-events: none">Transfer</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</ng-template>
