<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Card Number: -------------</h4>
            <p class="card-category">Mother Card</p>
          </div>
          <div class="card-body">
            <div>
              <h4>Personal Details</h4>
              <div class="row">
                <div class="col">
                  <h6>
                    <i class="material-icons">account_circle</i>
                  </h6>
                </div>
                <div class="col">
                  <h6>
                    <i class="material-icons">calendar_today</i>
                  </h6>
                </div>
                <div class="col">
                  <h6>
                    <i class="material-icons">home</i>
                  </h6>
                </div>
              </div>
              <div class="row">

                <div class="col">
                  <h6>Sonnet Teller</h6>
                </div>
                <div class="col">
                  <h6>{{newdate}}</h6>
                </div>
                <div class="col">
                  <h6>Block 6 Lot 30 Greyville Subdivision KC Street Lahug, Cebu</h6>
                </div>
              </div>
            </div>
            <div>
              <h4>Contact</h4>
              <div class="row">
                <div class="col">
                  <h6>
                    <i class="material-icons">contact_phone</i>
                  </h6>
                </div>
                <div class="col">
                  <h6>
                    <i class="material-icons">contact_mail</i>
                  </h6>
                </div>
                <div class="col">
                  <h6>
                    <i class="material-icons">how_to_reg</i>
                  </h6>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <h6>+63 966 838 2673</h6>
                </div>

                <div class="col">
                  <h6>sonnet.teller@gmail.com</h6>
                </div>
                <div class="col">
                  <h6>https://www.facebook.com/lisatorre1875</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <!-- <a href="#pablo"> -->
            <!-- <img [src]="user.photoURL" width="100" /> -->
            <!-- </a> -->
          </div>
          <div class="card-body">
            <!-- <h6 class="card-category text-gray">Teller #1</h6> -->
            <h4 class="card-title">SONNET TELLER</h4>
            <p class="card-description">
              Schedule:
              <br> MonThu - 10:00AM - 12:00PM
              <br> TueFri - 12:00PM - 6:00PM
            </p>

            <div class="card-body">
              <div class="col-lg-12 col-md-5 col-sm-5">
                <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                    <div class="card-icon">
                      <i class="material-icons">account_balance_wallet</i>
                    </div>
                    <p class="card-category">Balance</p>
                    <h6 class="card-title">GG</h6>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons">date_range</i> Last 24 Hours
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
