<div class="wrapper">
  <div class="main">
    <div class="section">
      <!-- <div class="container"> -->
        <div class="row">
          <br/>
        </div>
        <br>
        <mat-tab-group class="example-stretched-tabs mat-elevation-z4">
          <mat-tab label="Transfer"> <app-transfer></app-transfer> </mat-tab>
          <mat-tab label="Report"> <app-reports></app-reports> </mat-tab>
          <mat-tab label="Profile">  </mat-tab>
        </mat-tab-group>
      <!-- </div> -->
    </div>
  </div>
</div>
